@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Neucha&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root {
  font-family: "Neucha", cursive;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 15px;
}

.catCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 4px;
  border-radius: 15px;
}

.catName {
  font-size: 25px;
}

.blueCard {
  background-color: #afadff;
  border-color: #daadff;
}

.violetCard {
  background-color: #daadff;
  border-color: #afadff;
}

.catImage {
  height: 150px;
}

.description {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.star {
  width: 32px;
  height: 32px;
  clip-path: polygon(
    50% 0%,
    61.875% 38.36%,
    100% 38.36%,
    68.75% 61.64%,
    81.25% 100%,
    50% 76%,
    18.75% 100%,
    31.25% 61.64%,
    0% 38.36%,
    38.125% 38.36%
  );
  background-color: yellow;
}

.heart {
  height: 35px;
}

.rateFavDiv {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
